.experiences-sphere-1 {
    top: 300%;
    left: 80%;
}

.experiences-sphere-2 {
    top: 420%;
    left: 10%;
}

.experiences-sphere-3 {
    top: 500%;
    left: 90%;
}

.experiences-sphere-4 {
    top: 560%;
    left: 20%;
}

.experiences-sphere-5 {
    top: 620%;
    left: 70%;
}

.experiences-sphere-6 {
    top: 730%;
    left: 10%;
}

.experiences-sphere-7 {
    top: 850%;
    left: 80%;
}

.experiences-sphere-8 {
    top: 970%;
    left: 10%;
}