.experience {
    margin-top: 40px;
    background-color: #0D0D0D;
    border: 1px solid #383838;
    border-radius: 4px;
    color: #d6d6d6;
    padding: 17px;
    font-size: 1.2rem;
    box-shadow: 0px 0px 4px #383838;
}

.experience h3 {
    color: white;
    font-size: 1.5rem;
}

.experience .experience-about {
    color: white;
    margin-top: 20px;
}

.duties {
    margin-top: 25px;
    margin-left: 20px;
}

.duties li {
    margin-top: 10px;
}

.experience-sphere-1 {
    background-color: red;
}

.experience-sphere-2 {
    top: 340%;
    left: 10%;
}

@media screen and (min-width: 1050px) {
    .experience {
        padding: 25px;
    }
    .experience h3 {
        color: white;
        font-size: 1.7rem;
    }

    .experience {
        font-size: 1.35rem;
    }
}